{% block body %}
    <fieldset style="width:400px">
        <legend>Describe content</legend>
        <ul>
            <li>opis uslugi: <b>{{ service.getWebDescription() }}</b></li>
            <li>liczba kupionych uslug: <b>{{ bought }}</b></li>
            <li>ostatni kupujacy: <b>{{ last_buyer }}</b></li>
            <li>dostepne serwery:
                {% for server in avaibleServers %}
                    <b>{{ server }}</b>,
                {% endfor %}
            </li>
        </ul>
    </fieldset>

    <fieldset style="width:400px">
        <legend>Buy Now :)</legend>
        <ul>
            {% for server in avaibleServers %}
                <li><b><a href="{{ path('server_selection', {'name': service.getName()}) }}">{{ server }}</a></b></li>
            {% endfor %}
        </ul>
    </fieldset>
{% endblock %}