<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}:: ASHOP system sklepu automatycznego</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{{ asset('/font/iconsmind/style.css') }}" />
    <link rel="stylesheet" href="{{ asset('/font/simple-line-icons/css/simple-line-icons.css') }}" />

    <link rel="stylesheet" href="{{ asset('/css/vendor/bootstrap.min.css') }}" />
    <link rel="stylesheet" href="{{ asset('/css/vendor/bootstrap-float-label.min.css') }}" />
    {% block stylesheets %}{% endblock %}
    <link rel="stylesheet" href="{{ asset('/css/main.css') }}" />
</head>
<body {% block bodyclass %}{% endblock %}>
{% block body %}{% endblock %}
<script src="{{ asset('/js/vendor/jquery-3.3.1.min.js') }}"></script>
<script src="{{ asset('/js/vendor/bootstrap.bundle.min.js') }}"></script>
<script src="{{ asset('/js/dore.script.js') }}"></script>
<script src="{{ asset('/js/scripts.js') }}"></script>
{% block javascripts %}{% endblock %}
</body>